@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

.active {
  font-size: 20px;
}

body {
  padding: 0;
  margin: 0;
}

.font_19 {
  font-size: 19px;
}

.font_24 {
  font-size: 24px;
}

.home_header {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home_header .home_header_logo {
  height: 145px;
  width: 145px;
}

.home_header .home_header_social {
  height: 50px;
  width: 50px;
  background-color: goldenrod;
}

.home_header .home_header_hamburger {
  display: none;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.swiper-pagination-clickable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
}

.swiper-pagination-bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 350px;
  margin: 30px 0 !important;
  border-radius: 100%;
  opacity: .8;
  color: white;
  background: rgba(0, 0, 0, 0);
}

@media (max-width: 768px) {
  .swiper-pagination-bullet {
    margin: 15px 0 !important;
  }
}

@media (max-width: 768px) {
  .home_springmountain {
    display: none;
  }
}

.home_springmountain span {
  font-size: 18px;
  position: fixed;
  right: 0;
  top: 80%;
  z-index: 1000;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.home_banner_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.home_banner_area .home_banner {
  width: 85%;
}

@media (max-width: 814px) {
  .home_banner_area .home_banner {
    width: 100%;
  }
}

.home_banner_area .home_banner img {
  width: 100%;
}

.home_banner_area .home_nav_right {
  width: 15%;
}

@media (max-width: 814px) {
  .home_banner_area .home_nav_right {
    display: none;
  }
}

.home_banner_area .home_nav_right ul {
  margin-top: 100px;
}

@media (max-width: 1050px) {
  .home_banner_area .home_nav_right ul {
    padding-left: 20px;
  }
}

@media (max-width: 914px) {
  .home_banner_area .home_nav_right ul {
    padding-left: 10px;
  }
}

@media (max-width: 846px) {
  .home_banner_area .home_nav_right ul {
    padding-left: 5px;
  }
}

.home_banner_area .home_nav_right ul li {
  list-style: none;
  margin: 20px;
}

.home_banner_area .home_nav_right ul li a {
  text-decoration: none;
  color: black;
}

.home_banner_area .home_nav_right ul li a:hover {
  color: #F1A200;
}

.home_slogan .home_slogan_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  margin: 180px auto;
}

.home_slogan .home_slogan_text p {
  line-height: 100px;
}

@media (max-width: 768px) {
  .home_slogan .home_slogan_text p {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .home_slogan .home_slogan_text span {
    font-size: 14px;
  }
}

.home_transitions {
  width: 100%;
  min-height: 800px;
  background-color: indianred;
}

@media (max-width: 768px) {
  .home_transitions {
    min-height: 360px;
  }
}

.home_sunrise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 900px;
  margin: 100px auto;
}

@media (max-width: 768px) {
  .home_sunrise {
    height: 360px;
  }
}

@media (max-width: 576px) {
  .home_sunrise {
    height: 265px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home_sunrise .home_sunrise_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .home_sunrise .home_sunrise_text {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .home_sunrise .home_sunrise_text {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.home_sunrise .home_sunrise_img {
  height: 100%;
  width: 100%;
  background-image: url(/img/日出曙光1.jpg);
  background-size: cover;
}

.home_forest {
  position: relative;
}

.home_forest .home_forest_img {
  position: absolute;
  height: 660px;
  width: 65%;
  background-image: url(/img/翠綠原始林木.jpg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .home_forest .home_forest_img {
    height: 360px;
    top: 60px;
    width: 90%;
  }
}

@media (max-width: 576px) {
  .home_forest .home_forest_img {
    display: none;
  }
}

.home_forest .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 660px;
  margin: 0 auto 100px auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  .home_forest .container {
    height: 360px;
  }
}

@media (max-width: 576px) {
  .home_forest .container {
    height: 265px;
    margin: 0 auto 50px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home_forest .container .home_forest_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  .home_forest .container .home_forest_text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .home_forest .container .home_forest_text {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.home_forest .container .home_forest_img_col {
  display: none;
  background-image: url(/img/翠綠原始林木.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 265px;
}

@media (max-width: 576px) {
  .home_forest .container .home_forest_img_col {
    display: block;
    width: 100%;
    height: 265px;
  }
}

.home_nature {
  position: relative;
}

.home_nature .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 660px;
  margin: 0 auto 100px auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 768px) {
  .home_nature .container {
    height: 360px;
  }
}

@media (max-width: 576px) {
  .home_nature .container {
    height: 265px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}

.home_nature .container .home_nature_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 768px) {
  .home_nature .container .home_nature_text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .home_nature .container .home_nature_text {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.home_nature .container .home_nature_img_col {
  display: none;
  background-image: url(/img/自然美妙天籟.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 265px;
}

@media (max-width: 576px) {
  .home_nature .container .home_nature_img_col {
    display: block;
    width: 100%;
    height: 265px;
  }
}

.home_nature .home_nature_img {
  position: absolute;
  height: 660px;
  width: 64%;
  background-image: url(/img/自然美妙天籟.jpg);
  background-size: cover;
  top: 0;
  right: 0;
  background-position: center;
}

@media (max-width: 768px) {
  .home_nature .home_nature_img {
    height: 360px;
    top: 60px;
    width: 90%;
  }
}

@media (max-width: 576px) {
  .home_nature .home_nature_img {
    display: none;
  }
}

.home_ig_title .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home_ig_title .container .home_ig_title_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .home_ig_title .container .home_ig_title_text {
    font-size: 14px;
    margin-top: unset;
    margin-bottom: unset;
    margin: 60px 0;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container img {
  height: 270px;
  width: 23%;
}

@media (max-width: 576px) {
  .container img {
    width: 25%;
  }
}

.home_welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home_welcome .home_welcome_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 180px 0;
}

@media (max-width: 768px) {
  .home_welcome .home_welcome_text {
    margin: 60px 0;
    font-size: 14px;
  }
}

.home_footer {
  position: relative;
  background-color: lemonchiffon;
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .home_footer {
    height: 430px;
  }
}

@media (max-width: 576px) {
  .home_footer {
    height: 320px;
  }
}

.home_footer a {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  .home_footer a {
    font-size: 18px;
  }
}

.home_footer .home_footer_booking {
  width: 220px;
  height: 30px;
  background-color: lightcoral;
  text-align: center;
  line-height: 24px;
}

@media (max-width: 768px) {
  .home_footer .home_footer_booking {
    width: 130px;
    height: 20px;
  }
}

.home_footer .home_footer_copyright {
  margin: 50px auto;
  position: absolute;
  bottom: 0;
}

@media (max-width: 768px) {
  .home_footer .home_footer_copyright {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */